<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.geek.libxuanzeqi">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
<!--        android:label="@string/app_namelibxuanzeqi"-->

        <activity
            android:name="com.geek.libxuanzeqi.activity.MainActivitylibxuanzeqi"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.MainActivitylibxuanzeqi" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.geek.libxuanzeqi.activity.SinglePickerActivitylibxuanzeqi"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.geek.libxuanzeqi.activity.DateTimePickerActivitylibxuanzeqi"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.geek.libxuanzeqi.activity.LinkagePickerActivitylibxuanzeqi"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.geek.libxuanzeqi.activity.AddressPickerActivitylibxuanzeqi"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.geek.libxuanzeqi.activity.ColorPickerActivitylibxuanzeqi"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.geek.libxuanzeqi.activity.FilePickerActivitylibxuanzeqi"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.geek.libxuanzeqi.activity.CalendarPickerActivitylibxuanzeqi"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.geek.libxuanzeqi.activity.ImagePickerActivitylibxuanzeqi"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
    </application>
</manifest>