<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="drawthink.expandablerecyclerview">
    <application
        android:allowBackup="true"
        android:supportsRtl="true">
<!--        android:label="@string/appnamelibexpandablerecyclerview"-->

        <activity
            android:name="drawthink.expandablerecyclerview.demo.ExpandableAct"
            android:exported="true">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.phone.expandableview" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="drawthink.expandablerecyclerview.demo.extextview.TextViewAct"
            android:exported="true">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.phone.TextViewAct" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="drawthink.expandablerecyclerview.demo.eximageview.ImageViewAct"
            android:exported="true">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.phone.ImageViewAct" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>